<div class="jumbotron text-center">
<<<<<<< HEAD
  <h1>Welcome OurSite</h1>
  <h3> Oursite is an AWESOME site</h3>
=======
  <h1>Welcome to OurSite</h1>
  <h3> OurSite is an AWESOME site</h3>
>>>>>>> development
  <i class="fa fa-quote-left fa-3x pull-left fa-border"></i>
        ...tomorrow we will run faster, stretch out our arms farther...
        And then one fine morning— So we beat on, boats against the
        current, borne back ceaselessly into the past.
<<<<<<< HEAD
</div>



=======
</div>
>>>>>>> development
